// Custom styles.
// Blank Initially--ALL the contents are added manually. By Jackson.
.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fcfcfc;
    min-height: 500px;
}
