// Custom styles.
// Blank Initially--ALL the contents are added manually. By Jackson.
.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #ffffff;
    min-height: 500px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
